.cardContainer{
    padding: 200px 40px 0 40px;
}
.cardWrapper {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}

.card{
  padding: 5px 40px 0px 40px;
  border-radius: 20px;
  height: 300px;
  width: 45%;
  background-color: rgba(31, 32, 34, .4);
  cursor: pointer;
}

.cardWrapper :hover{
  background-color: rgb(159, 13, 13);
}

.cardHeader{
  font-size: 10rem;
  font-weight: bold;
}

.cardContent{
  font-size: 25px;
  text-align: end;
  font-weight: bold;
}

.card:nth-child(even) {
  margin-top: 100px;
}
