.cardMain {
  padding: 0px 0 400px;
  overflow: hidden;
}

.cardContainer {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

.cardContent,
.sideCard,
.button {
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.sideCard {
    font-size: 25px;
    float: right;
    width: 600px;
    padding: 10px;
}


.cardContent {
    font-size: 30px;
    width: 800px;
    animation-name: fadeInUp;
    animation-delay: 0.5s;
}

.cardContent p {
    margin: 0;
}

.sideCard {
    font-size: 25px;
    width: 600px;
    padding: 10px;
    animation-name: fadeInRight;
    animation-delay: 2s;
}

.cardText {
    margin-bottom: 10px;
}

.sideCard .button {
  animation-name: fadeIn;
  animation-delay: 5s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
