.AboutUsMainContainer {
  padding-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
.AboutUsFlex {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  /* gap: 4rem; */
}
.MainFlexOne {
  width: 100%;
  padding-top: 1rem;
}
.AboutImageContainer {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.TextUpper {
  width: 60%;
}
.TextUpperTwo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.TextUpperTwoSecond{
  /* display: flex; */
}
.text1 {
  font-size: 70px;
  padding: 100px 0;
  line-height: 40px;
  text-align: center;
}
.text2 {
  font-size: 20px;
  padding: 50px 0 30px 0;
  line-height: 28px;
  font-weight: 300;
}
.text2one {
  width: 50%;
  font-size: 20px;
  padding: 0 0 30px 0;
  line-height: 28px;
  font-weight: 300;
}
.BoldText {
  font-weight: bold;
}

.MainButton {
  padding-top: 1rem;
}

.readMoreButtonOuter {
  position: relative;
  overflow: hidden;
  height: 3.25rem;
  padding: 0 2rem;
  background: rgb(254, 197, 84);
  background-size: 400%;
  color: black;
  border: none;
  font-size: 18px;
  line-height: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: fit-content;
}
.readMoreButtonOuter .readMoreButton {
  position: relative;
  z-index: 1;
}
.readMoreButtonOuter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: white;
  transition: all 0.475s;
}
.readMoreButtonOuter:hover::before {
  transform: scaleX(1);
}
@media (max-width: 1440px) {
  .AboutUsMainContainer {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .AboutUsimg {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .AboutUsFlex {
    flex-direction: column-reverse;
  }
  .AboutUsMainContainer {
    padding-right: 2rem;
  }
  .MainFlexOne {
    width: 100%;
  }
  .AboutUsimg {
    width: 100%;
    height: auto;
  }
  .AboutUsFlex {
    gap: 3rem;
  }
}
@media (max-width: 575px) {
  .text2 {
    font-size: 18px;
  }
}
