

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Helvetican_Regular";
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
  color: white; 
  /* height: 100%; */
  outline: none;
  /* position: relative; */
  /* z-index: 99;  */
}

a {
  color: inherit;
  text-decoration: none;
}
.WeglFluid{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

}
canvas {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 11;
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  /* z-index: -1; */
}

@font-face {
  font-family: "Helvetican_Regular";
  src: url(../fonts/helveticaneuecyr-roman.otf);
}

@font-face {
  font-family: "Helvetican_Light";
  src: url(../fonts/helveticaneuecyr-light.otf);
}

@font-face {
  font-family: "Helvetican_Bold";
  src: url(../fonts/helveticaneuecyr-bold.otf);
}

@font-face {
  font-family: "Helvetican_Medium";
  src: url(../fonts/helveticaneuecyr-medium.otf);
}

@font-face {
  font-family: "Helvetican_UltraLight";
  src: url(../fonts/helveticaneuecyr-ultralight.otf);
}


