.dribbbleSection {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }
  .MainContainer {
    /* padding-top: 4rem; */
    padding-bottom: 8rem;
  }
  .sectionTitleLeft {
    width: 20%;
    margin: 0 auto;
  }
  .headingAnimation{
    padding-top: 1rem;
    font-size: 22px;
  }
  .fadeUp {
    max-width: 100% !important;
    height: 100% !important;
    object-fit: unset !important;
  }
  @media (min-width: 1600px){
    .container {
      height: 100%;
      /* padding-bottom: 5rem !important; */
      /* padding-top: 1rem !important; */
    }
    .dribbbleSection {
      padding-bottom: 40px;
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
  @media (min-width: 1140px) {
    .dribbbleSection {
      /* padding-bottom: 25px; */
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  .sectionTitle {
    margin-bottom: 1.25rem;
    justify-content: center;
  }
  .wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    --tw-translate-y: -50%;
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y));
    padding-bottom: 12rem;
  }
  
  @media (min-width: 540px) {
    .wrapper {
      padding-bottom: 8rem;
    }
  }
  
  @media (min-width: 720px) and(max-width: 1300px) {
    .wrapper {
      padding-bottom: 14rem;
    }
    .sectionTitleLeft {
      width: 70% !important;
      margin: 0 auto;
    }
    .headingAnimation{
      padding-top: 1rem !important;
      font-size: 30px !important;
    }
  }
  
  .posts {
    pointer-events: none;
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 100px 0 0;
  }
  
  @media (min-width: 720px) {
    .posts {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  .container {
    height: 100%;
    padding-bottom: 2rem;
  }
  .post {
    height: 100%;
    will-change: transform;
    overflow: hidden;
    border-radius: 1.5rem;
  }
  
  @media (min-width: 280px) and (max-width: 767px) {
    .post:nth-child(2),
    .post:nth-child(5) {
      display: none;
    }
    .post:nth-child(3) {
      position: relative;
      left: -50%;
    }
    .post:nth-child(4) {
      position: relative;
      right: -50%;
    }
    .posts {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .sectionTitleLeft {
      width: 100%;
      padding: 0 20px;
      margin: 0 auto;
    }
    .headingAnimation{
      padding-top: 1rem;
      font-size: 30px;
    }
  }
  
  .post img {
    max-width: 100% !important;
    height: 100% !important;
    object-fit: unset !important;
  }
  
  @media(max-width: 1024px){
   
  }