footer {
  padding: 80px 40px;
  @media (max-width: 575px) {
    padding: 50px 20px;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    gap: 100px;
    @media (max-width: 1600px) {
      gap: 60px;
    }
    @media (max-width: 1399px) {
      gap: 40px;
      flex-wrap: wrap;
    }
    @media (max-width: 991px) {
      gap: 20px;
      flex-wrap: wrap;
    }
    @media (max-width: 767px) {
      gap: 10px;
      justify-content: space-between;
    }
    
    ul {
      text-decoration: none;
      list-style: none;
      list-style-type: none;
      @media (max-width: 991px) {
        width: 300px;
      }
      @media (max-width: 767px) {
        width: 48%;
      }
      @media (max-width: 575px) {
        width: 100%;
      }
      li {
        text-decoration: none;
        list-style: none;
        list-style-type: none;
        padding: 0 0 22px;
        @media (max-width: 767px) {
          padding: 0 0 18px;
        }
        @media (max-width: 575px) {
          padding: 0 0 12px;
        }
        a {
          color: white;
          text-decoration: none;
        }
      }
     
    }
    
  }
  .copyright {
    text-align: center;
    font-size: 18px;
    margin: 40px 0 0;
    @media (max-width: 575px) {
      margin: 20px 0 0;
    }
  }
}
