.portfolioCardItem {
  color: #fff;
  margin: 0;
  width: 100%;
  padding: 0 40px;
}
.portfolioCardItem:nth-child(even) .portfolioCardItem_wrapper{
  flex-direction: row-reverse;
}
.portfolioCardItem_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  /* padding: 50px 0; */
}

.portfolioCardItem_heading h6 {
  color: #fff;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 8px;
}
.portfolioCardItem_image{
  width: 50%;
}
.portfolioCardItem_image img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.portfolioCardItem_text {
  color: #ababab;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0 0 16px;
}
.portfolioCardItem_btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  margin: 0;
}
.portfolioCardItem_btn:hover {
  background-color: transparent;
  border: 1px solid #fff;
}
.portfolioCardItem_btn .portfolioCardItem_btn_text {
  color: #fff;
}
.portfolioCardItem:nth-child(2n + 2) {
  /* position: inherit;
  top: 136px; */
}

.portfolioCardItem_btn:active {
  background-color: transparent !important;
  border: 1px solid #fff !important;
}
.portfolioCardItem_btn:focus-visible {
  box-shadow: none !important;
}
.portfolioCardItem_content {
  padding: 20px 50px 48px 70px;
  width: 50%;
}
@media (min-width:1500px){
  .portfolioCardItem_content {
    padding: 20px 50px 48px 108px;
    width: 50%;
  }
}
@media (max-width: 991px) {
  .portfolioCardItem_heading h6 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 6px;
  }
  .portfolioCardItem_text {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 12px;
  }
}
@media (max-width: 767px) {
  .portfolioCardItem {
    width: 100%;
  }
  .portfolioCardItem {
    padding: 0;
  }
  .portfolioCardItem_wrapper{
    /* width: 100%; */
    flex-direction: column;
  }
  .portfolioCardItem_image {
    width: 100%;
}
.portfolioCardItem_content {
  /* padding: 20px 50px 48px 70px; */
  padding: 21px 42px 48px 27px;
  width: 100%;
}
  .portfolioCardItem:nth-child(even) .portfolioCardItem_wrapper{
    flex-direction: column;
  }
}
@media (max-width: 475px){
  .portfolioCardItem_content {
    padding: 21px 15px 48px 15px;
  
  }
  .portfolioCardItem_wrapper{
    margin-bottom: 0px;
  }
}
