
  .sectionSlider {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
  }
  
  .sectionSliderHead {
    max-width: 400px;
    padding-bottom: 60px;
  }
  
  .sectionSliderEntry {
    font-size: 24px;
  }
  
  .sectionSliderTitle {
    margin-bottom: 0;
  }
  
  .slider {
    counter-reset: projects-counter;
  }
  
  .slider.dragged .thumb {
    transform: scale(.95);
  }
  
  .sliderPaging {
    display: none;
  }
  
  .sliderClip {
    overflow: visible;
  }
  .innerText{
    font-size: 18px;
  }
  .thumbActions{
    border: 1px solid white;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 30px;
  }
  .thumb {
    counter-increment: projects-counter;
    transition: all  ease-in-out;
    background-color: #121315;
    /* border: 1px solid white; */
    border: 1px solid #e0eeee;
    border-radius: 30px;
    border-width: 1px;
    height: 80vh;
    position: relative;
    margin: 0 20px;
    /* padding: 100px; */
  }
  .thumb:hover{
   border-width: 0px;
   border: 0px;
  }
  .TextHeader{
    padding: 50px 0;
  }
  .mainThumb{
       /* display: flex; */
    /* flex-direction: column; */
    /* width: 100%; */
    position: absolute;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  .thumbTitle {
    font-size: 30px;
    padding: 10px 0;
  }
  
  
  
  .thumbEntry {
    max-width: 250px;
    margin-bottom: 15px;
  }
  
  .paging {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagingPrev,
  .pagingNext {
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    padding: 14px 7px;
    border: 0;
    border-radius: 0;
    background: transparent;
  }
  
  .pagingPrev:hover,
  .pagingNext:hover {
    color: #999;
  }
  
  .linkMore {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: none;
    transition: color .5s;
  }
  
  .linkMore:hover {
    color: #999;
  }
  
  .cursor {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .85);
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: center;
    user-select: none;
    pointer-events: none;
    mix-blend-mode: difference;
    transition: width .15s, height .15s, transform .15s, opacity .35s;
  }
  
  .cursorInner {
    margin-top: -1px;
    border: 1px solid #e0eeee;
    /* border-color: #e0eeee; */
    /* background: blue; */
    padding: 50px;
    border-radius: 100%;
  }
  
  .cursor.visible {
    display: flex;
  }
  @media(max-width: 768px){
    .thumb {
      height: 85vh;
      margin: 0 20px;
    }
  }